/* DivTable.com */
.divTable{
	display: table;
    width: 100%;
    height: auto;
    font-size: 14px;
    border-collapse: collapse;
}
.divTableRow {
    display: table-row;
    width: 100%;
}
.divTableRow:not(.category-header):nth-child(odd) .divTableCell:not(.weekend) {
    background: #dddddd;
}
body.dark-mode .divTableRow:not(.category-header):nth-child(odd) .divTableCell:not(.weekend) {
        background: #1f1f1f;
}
.divTableRow.hide{
    display: none;
}
.divTableHeading {
	display: table-header-group;
    background-color: #EEE;
    font-weight: bold;
}
.divTableCell {
    display: table-cell;
    vertical-align: top;
}
.divTableCell.no-border{
    border-left: none;
    border-right: none;
}
.divTableCell.padded, 
.divTableHead.padded,
.rowHeaderContainer .padded {
    padding-top: 2px;
    padding-bottom: 2px;
    flex: 1;
}
.divTableHead{
	font-weight: bold;
}
.divTableHead.top{
	border-bottom: 0px;
}
.divTableHead.bottom{
	border-top: 0px;
}
.divTableMainHeader{
    padding: 10px;
}
.divTableMainHeader.divTableMainHeaderSmall{
    padding: 5px;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divTableSubHeader{
    display: flex;
    flex: 1 1 0;
}
.divTableMainHeader.divTableMainHeaderForContainer{
    padding: 0px;
    border-right: 0px;
    border-left: 0px;
}
.divTableMainHeader.left
{
    text-align: left;
    padding-left: 5px;
}
.divTableMainHeader .mainHeaderContainer{
    display: flex;
    position: relative;
    flex: 1 1 0;
    height: 37px;
}
.divTableMainHeader .mainHeaderContent{
    padding-top: 10px;
    position: absolute;    
    display: block;
    text-align: center;
    white-space: nowrap;
    height: 100%;
}
.subHeader{
    padding:5px;
    display: block;
    text-align: center;
    width: 100%;
}
.subHeader.left
{
    margin-left: 10px;
    text-align: left;
}
.subHeader.right
{
    margin-right: 10px;
    text-align: right;
}
.subHeader.withBorder {
    border-left: 1px solid #aaa;
}
.itemPartContainer-outer {
    position: relative;
}
.itemPartContainer-inner {
    position: absolute;
}
.item-border
{
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}
.item
{
    padding-top: 4px;
    padding-bottom: 4px;
    height: 28px;
    /*display: block;*/
}
.item-text
{
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item-border.start-item
{
    border-left: 1px solid #aaaaaa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.item-border.end-item
{
	border-right: 1px solid #aaaaaa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item .icon 
{
    height: 16px;
    width: 16px;
}

.tooltip-text-seperator
{
    margin-top: 5px;
}

.rowHeaderCell
{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.rowHeaderInner
{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 9px;
    align-items: center;
}

.rowHeaderCell
.header
{
    text-align: left;
    flex: 1;
}

.rowHeaderContainer{
    display: flex;
    flex-direction: row;
}

.categoryHeader{
    display: flex;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categoryText{    
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: 600;
}

.categoryMarker{
    width: 5px;
    height: auto;
    background: #aaa;
}

.rowHeaderCell
.header-image-container
{
    margin-right: 5px;
    min-width: 36px;
    min-height: 36px;
    text-align: left;
}

.rowHeaderCell
.header-image
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 36px;
}

.lane
{
    height: 36px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.lane
.highlighted
{
    background-color: #c8cde2;
    width: 100%;
    height: 100%;
    padding-bottom: 2px;
}

.move-item-callout
{
    padding: 3px;
    pointer-events: none;
}

.move-item-callout-container
{
    display: flex;
    flex-direction: row;
    align-items: left;
}

.move-item-callout-line-header
{
    display: flex;
    flex-direction: column;
    padding-right: 6px;
    flex-grow: 1;
}

.move-item-callout-line-time
{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.draggable-planner-item
{
    display: flex;
    flex-direction: row;
}

.item-data
{
    width: 100%;
    display: flex;
}

.drag-handle
{
    width: 5px;
}

.drag-handle.draggable:hover
{
    cursor: ew-resize;   
}